<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Curp</title>
</head>
<body>
<%- include('navbar'); %>

<section class="container_body">
  <h1>CONSULTA TU CURP O RFC</h1>
  <div class="tablinks-container">
    <button class="tablink" onclick="openPage('Curp', this, '')">Curp</button>
    <button class="tablink" onclick="openPage('Rfc', this, '')" id="defaultOpen">Rfc</button>
  </div>

  <div id="Curp" class="tabcontent">
    <h1 class="title-back">!DA CLICK! PARA DESCUBRIR LA INFORMACION</h1>
    <%- include('MensajeCurp')%>
    <%- include('curp')%>
  </div>

  <div id="Rfc" class="tabcontent">
    <h1 class="title-back">!DA CLICK! PARA DESCUBRIR LA INFORMACION</h1>
    <p>Some Rfc this fine day!</p> 
  </div>
</section>

<script src="js/informacion.js"></script>
<script src="js/CambioDeVentanas.js"></script>


</body>
</html>