<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Iniciar Sesion</title>
  <link rel="stylesheet" href="css/login.css" />
</head>
<body>
    <% if (typeof error !== 'undefined') { %>
      <div class="alert"><%= error %></div>
    <% } %>
  <div class="container">
    <form class="/login" method="post">  
      <h2>Iniciar Sesión</h2>
      <div class="input-group">
        <input type="email" id="correo" name="correo"required />
        <label for="correo">Correo</label>
      </div>
      <div class="input-group">
        <input type="password" id="password" name="contraseña" required />
        <label for="password">Contraseña</label>
      </div>
      <button type="submit">Entrar</button>
      <div class="register-link">
      ¿No tienes cuenta? <a href="/register">Regístrate</a>
    </div>
    </form>
  </div>

  <script src="script.js"></script>
</body>
</html>
