<button class="accordion">¿Qué es la CURP?</button>
<div class="panel">
  <h1 class="inside-text">La CURP o Clave Única de Registro de Población es un código alfanumérico de 18 dígitos destinado a registrar a los residentes mexicanos y a los mexicanos residentes en el extranjero. 

Asimismo, es una clave única e intransferible, proporcionando una identificación oficial individual. Cada CURP es asignada por La Ley General de Población y se otorga desde el momento del registro de cada persona, simplificando la administración pública al eliminar la necesidad de múltiples claves para diferentes instituciones.</h1>
</div>

<button class="accordion">¿Para qué sirve la CURP?</button>
<div class="panel">
  <h1 class="inside-text">Al contar con una clave única para tu identificación, puedes utilizarla para diversos propósitos como:</h1>
  <p class="middle-text">Inscripciones escolares.</p>
  <p class="middle-text">Obtención de un pasaporte.</p>
  <p class="middle-text">Inscripción al servicio militar.</p>
  <p class="middle-text">Tramitación de una licencia de conducir.</p>
  <p class="middle-text">Apertura de una cuenta bancaria.</p>
  <p class="middle-text">Contratación de un servicio de telefonía celular.</p>
  <p class="middle-text">Inscripción a un seguro de salud.</p>
  <p class="middle-text">Obtención de una beca</p>
  <p class="middle-text">Participación en un programa social.</p>
  <p class="middle-text">Realizar trámites del SAT.</p>
  <h1 class="inside-text">La CURP también se puede usar para identificar a una persona en documentos oficiales como:</h1>
  <p class="middle-text">Acta de nacimiento. </p>
  <p class="middle-text">Certificado de nacionalidad mexicana. </p>
  <p class="middle-text">Carta de naturalización.</p>
  <p class="middle-text">Documentos Migratorios</p>
  <h1 class="inside-text">Ya que la CURP se utiliza para realizar trámites importantes, es esencial conocerla y saber cómo puedes obtenerla en caso de necesitarla.</h1>
</div>

<button class="accordion">¿Cómo puedo sacar mi CURP?</button>
<div class="panel">
  <h1 class="inside-text">Si todavía no te sabes tu CURP, solicitarla es muy sencillo siguiendo estos pasos:
</h1>
  <h1 class="inside-text">1.Ingresa a Consulta tu CURP en la página oficial del gobierno.</h1>
  <h1 class="inside-text">2.En la sección de “Datos personales” ingresa tu nombre completo, fecha de nacimiento, género y estado en el que naciste.</h1>
  <h1 class="inside-text">3.Da clic en “Buscar” para obtener tu CURP.</h1>
  <h1 class="inside-text">Asegúrate de guardar tu clave en un lugar seguro donde solo tú puedas consultarla en caso de necesitarla.</h1>
</div>

<button class="accordion">¿Cómo está conformada la CURP?</button>
<div class="panel">
  <h1 class="inside-text">Tener claridad sobre las partes de la CURP te ayudará a recordarla más fácil, por ejemplo, si una persona se llama Sebastián Pérez Hernández, con fecha de nacimiento del 30/01/1960 en Guadalajara, Jalisco, su CURP se compone de la siguiente manera: </h1>
  <p class="middle-text">La primera letra y vocal de su primer apellido: PE.</p>
  <p class="middle-text">La primera letra de su segundo apellido: H.</p>
  <p class="middle-text">La primera letra de su primer nombre: S.</p>
  <p class="middle-text">Fecha de nacimiento considerando los dos últimos dígitos del año, el mes y el día a 2 dígitos cada uno: 600130.</p>
  <p class="middle-text">La letra que indica el sexo de la persona (considerado que M es para mujeres y H para hombres): H.</p>
  <p class="middle-text">Abreviatura de la Entidad Federativa de nacimiento: JC. </p>
  <p class="middle-text">La primera consonante interna de su primer apellido: R.</p>
  <p class="middle-text">La primera consonante interna de su segundo apellido: R.</p>
  <p class="middle-text">La primera consonante interna de su primer nombre: S.</p>
  <p class="middle-text">Un número del 0 al 9 para personas que hayan nacido hasta 1999 o una letra de la A a la Z para quienes nacieron a partir del 2000.</p>
  <p class="middle-text">Una homoclave de un dígito que lo asigna el RENAPO mediante un algoritmo aleatorio, el cual asegura que la CURP es única. </p>
  <h1 class="inside-text">Con esta información podríamos definir que la CURP de Sebastián es PEHS600130HJCRRS18.</h1>
</div>
