<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Sidebar con íconos y texto</title>
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  
<%- include('sidebar.ejs') %>
<!-- Contenido principal -->
<div class="container-user" id="container-user">
  <h1>Bienvenido <%= user.nombre %></h1>
  <p>Haz clic en el botón para expandir o colapsar la barra lateral.</p>
<%- include('formularioDocumentos.ejs') %> 
</div>

<script src="js/sidebar.js"></script>

</body>
</html>
