* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background: linear-gradient(120deg, #6a1d33, #c18589);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  width: 40%;
  height: 50%;
  animation: popIn 0.8s ease;
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.input-group label {
  position: absolute;
  top: 10px;
  left: 0;
  color: #999;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown):valid + label {
  top: -15px;
  font-size: 12px;
  color:  #6a1d33;
}

button {
  width: 100%;
  padding: 10px;
  background: #6a1d33;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #c29584;
}
.register-link {
      text-align: center;
      font-size: 14px;
      color: #555;
    }

    .register-link a {
      color:  #6a1d33;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    .register-link a:hover {
      color: #c18589;
    }

.alert {
  position: fixed; /* Fija la posición en la pantalla */
  top: 20px; /* Ajusta la distancia desde la parte superior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado horizontal */
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra para destacar */
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 3s; /* Aparece y desaparece */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

/* Animación para que desaparezca después de un tiempo */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}