<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/imagen404.css">
    <title><%= titulo %></title>
</head>
<body>
    <img src="/IMG/anime-404-gomen-.jpg" alt="" class="imagen404">
    <!--<a href="/">Volver al inicio</a>-->
</body>
</html>
