<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/forms.css">
    <title>Inicio de sesion</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            <label for="correo">Ingresa tu contraseña</label>
            <input type="text" name="correo" placeholder="Correo">
            <label for="contraseña">Ingresa tu contraseña</label>
            <button class="button-login">Inicia sesion</button>
        </form>
    </div>
</body>
</html>