<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/forms.css">
    <title><%= titulo %> </title>
</head>
<body>
    <title>Registro</title> 
</head>
<body>
    <div class="container">
        <header>Registra tus datos</header>
        <form action="#">
            <div class="form first">
                <div class="details personal"><!--Detalles personales-->
                    <span class="title">Datos Personales</span>
                    <div class="fields">
                        <div class="input-field"> 
                            <label>Nombre(s) :</label> <!--Aqui añadimos nombre-->
                            <input type="text" placeholder="Ingresa tu nombre" required>
                        </div>
                        <div class="input-field"> <!--Aqui añadimos apelldio paterno-->
                            <label for="">Apellido Paterno :</label>
                            <input type="text" placeholder="Ingresa tu apellido paterno" required>
                        </div>
                        <div class="input-field"> <!--Aqui añadimos apellido materno-->
                            <label>Apellido Materno :</label>
                            <input type="text" placeholder="Ingresa tu apellido materno" required>
                        </div>
                        <div class="input-field"> <!--Aqui añadimos fecha de nacimiento-->
                            <label>Fecha de nacimiento :</label>
                            <input type="date" placeholder="Ingresa tu fecha de nacimiento" required>
                        </div>
                        <div class="input-field"> <!--Aqui añadimos los estados-->
                            <label>Estado :</label>
                            <select id="estado" required>
                                <option disabled selected>Selecciona el estado</option>
                                <option value="AS">Aguascalientes</option>
                                <option value="BC">Baja California</option>
                                <option value="BS">Baja California Sur</option>
                                <option value="CC">Campeche</option>
                                <option value="CL">Coahuila</option>
                                <option value="CM">Colima</option>
                                <option value="CS">Chiapas</option>
                                <option value="CH">Chihuahua</option>
                                <option value="DF">Ciudad de México</option>
                                <option value="DG">Durango</option>
                                <option value="GT">Guanajuato</option>
                                <option value="GR">Guerrero</option>
                                <option value="HG">Hidalgo</option>
                                <option value="JC">Jalisco</option>
                                <option value="MC">Estado de México</option>
                                <option value="MN">Michoacán</option>
                                <option value="MS">Morelos</option>
                                <option value="NT">Nayarit</option>
                                <option value="NL">Nuevo León</option>
                                <option value="OC">Oaxaca</option>
                                <option value="PL">Puebla</option>
                                <option value="QT">Querétaro</option>
                                <option value="QR">Quintana Roo</option>
                                <option value="SP">San Luis Potosí</option>
                                <option value="SL">Sinaloa</option>
                                <option value="SR">Sonora</option>
                                <option value="TC">Tabasco</option>
                                <option value="TS">Tamaulipas</option>
                                <option value="TL">Tlaxcala</option>
                                <option value="VZ">Veracruz</option>
                                <option value="YN">Yucatán</option>
                                <option value="ZS">Zacatecas</option>
                                <option value="NE">Extranjero</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Sexo</label>
                            <select required>
                                <option disabled selected>Selecciona El Sexo</option>
                                <option>Maculino</option>
                                <option>Femenino</option>
                                <option>Otro..</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Numero de telefono</label>
                            <input type="number" placeholder="Ingresa tu telefono" required>
                        </div>
                        <div class="input-field">
                            <label>Correo</label>
                            <input type="email" placeholder="Ingresa tu correo" required>
                        </div>
                        <div class="input-field">
                            <label>Contraseña :</label>
                            <input type="password" placeholder="Ingresa tu Contraseña" required>
                        </div>
                    </div>
                </div>
                    <button class="nextBtn">
                        <span class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>